<div class="general-info">
  <b>
    <p>Bine ați venit la UniView</p> </b
  ><br />
  Acesti Termeni de utilizare ("Termeni") va guverneaza drepturile si
  obligațiile privind utilizarea Software-ului
  <b>UniView</b> ("Software") si a serviciului (denumite în cele mai multe
  cazuri " Serviciul ") pe Internet sau în mass-media celulara. Acesti Termeni
  constituie un acord pe deplin obligatoriu între UniView (inclusiv filialele
  sale). Prin urmare, va recomandam sa citiți cu atenție acesti Termeni.
  Folosind serviciul UniView, indicați acordul dvs. pentru acesti termeni:
  <br />
  - Politica de confidențialitate a UniView ("Politica de confidențialitate")
  si<br />
  - Politica privind drepturile de autor a UniView ("Politica privind drepturile
  de autor"), toți acestia fiind parte integranta a acestor Termeni.<br /><br />
  Daca nu sunteți de acord cu acesti Termeni sau cu oricare dintre parțile sale,
  atunci trebuie sa va abțineți de la utilizarea Serviciului. <br />
  <br />
  <p><b>Puncte cheie</b></p>
  Urmatoarele puncte-cheie ale Termenilor sunt evidențiate aici doar pentru
  comoditatea dvs. Aceste puncte cheie nu sunt facute în locul termenilor
  deplini si prezența acestora în aceasta secțiune nu înseamna ca acestea sunt
  destinate sa înlocuiasca sau sa înlocuiasca orice alți termeni sau condiții
  furnizate de UniView.<br />
  <br /><b>Actualizari necontinuale</b><br /><br />
  Informațiile furnizate de Serviciu provin de la alți utilizatori ai
  Serviciului. Aceste informații sunt fluctuante intrinsec si pot fi inexacte,
  incomplete sau depasite. UniView nu ofera nicio garanție pentru credibilitatea
  sau fiabilitatea acestor informații.<br />
  <br /><b>Serviciu bazat pe locație</b><br /><br />
  Unele caracteristici ale Serviciului utilizeaza informații detaliate privind
  locația si traseul, de exemplu sub forma de semnale GPS si alte informații
  trimise de dispozitivul dumneavoastra pe care este activata aplicația UniView.
  Aceste caracteristici nu pot fi furnizate fara a utiliza aceasta tehnologie.
  Rețineți, dupa cum este descris în detaliu în Politica de confidențialitate
  .<br />
  <br />UniView va permite sa utilizați serviciul daca doriți sau nu sa va
  configurați un nume de utilizator. Daca alegeți sa utilizați Serviciul fara a
  configura un nume de utilizator, puteți face acest lucru prin sari peste
  stadiul de configurare a numelui de utilizator. UniView va conecta în
  continuare toate informațiile dvs. cu contul dvs. Rețineți ca
  pentru a accesa anumite caracteristici ale Serviciului (de exemplu, istoricul
  rutelor, destinații favorite), va trebui sa configurați un nume de
  utilizator.<br />
  <br />
  <p><b>Reclame </b></p>
  Anunțurile terța parte pot aparea periodic în cadrul Serviciului. <br />
  <br />
  <p><b>Conexiunea la Internet</b></p>
  Este necesara pentru a utiliza Serviciul si eventualele costuri asociate (de
  exemplu, cheltuieli de transfer de date mobile) generate de utilizarea de
  catre dvs. a Serviciului sunt responsabilitatea dvs. exclusiva si sunt
  efectuate exclusiv pe cheltuiala dumneavoastra . Transmiterea si primirea de
  actualizari în timp real catre si de la serviciu necesita o conexiune online
  (de exemplu, Wi-Fi, 3G, 4G) între dispozitivul dvs. mobil si
  Internet.Cheltuielile unei astfel de conexiuni sunt cele prescrise în acordul
  dintre dvs. si furnizorul de servicii de comunicații (cum ar fi compania dvs.
  de telefonie mobila) si în conformitate cu termenii de plata aplicabili.<br />
  <br />
  <p><b>Software gratuit</b></p>
  <br />
  Serviciul utilizeaza Software pentru afisarea harților, actualizari si
  informații despre drum. În ceea ce priveste unele dispozitive de telefonie
  mobila care ruleaza Software-ul, Software-ul este un software gratuit. În
  astfel de cazuri, puteți redistribui Software-ul sau îl puteți modifica în
  conformitate cu Licența Publica GNU Generala publicata de Fundația pentru
  Software Liber, indiferent daca este versiunea 2.0 a licenței sau orice
  versiune ulterioara aleasa de dvs. Pentru informații suplimentare, consultați
  Licența publica generala GNU. Serviciul, baza sa de date, marcile comerciale
  ale UniView, designul harților serviciului si fisierele vocale integrate în
  Software.<br />
  <br />
  <p><b>Vârsta ta</b></p>
  Serviciul este destinat utilizarii de catre utilizatorii care au vârsta legala
  necesara pentru a deține un permis de conducere. În orice caz, conturile
  utilizatorilor cu vârsta sub 13 ani vor fi anulate si sterse, dupa
  primirea notificarii.<br />
  <br />
  <p><b>Confidențialitate</b></p>
  Confidențialitatea dvs. este importanta pentru noi. În timpul utilizarii
  Serviciului, informațiile personale pot fi furnizate de dvs. sau colectate de
  UniView, asa cum este detaliat în Politica de confidențialitate. Politica de
  confidențialitate explica practicile noastre referitoare la utilizarea
  informațiilor dvs. personale si va cerem sa citiți cu atenție o astfel de
  Politica de confidențialitate. Prin acceptarea acestor Termeni, prin prezenta
  sunteți de acord cu colectarea, stocarea si utilizarea informațiilor dvs.
  personale de catre UniView, sub rezerva acestei secțiuni, a Politicii de
  confidențialitate si a tuturor legilor si regulamentelor aplicabile.
  <br /><br />
  <p><b>LICENȚa</b></p>
  UniView va acorda astfel o licența revocabila, gratuita, neexclusiva, limitata
  în timp, netransferabila, pentru a utiliza Serviciul (inclusiv Software-ul) în
  scopuri necomerciale, sub rezerva acestor Termeni.
  <div class="legal-details-back-button">
    <app-wave-button
      text="Inapoi la pagina principala"
      (click)="goToHomepage()"
    ></app-wave-button>
  </div>
</div>
