<div class="general-info">
  <p><b>UniView</b> respecta drepturile de proprietate intelectuala ale altora si solicita utilizatorilor
    serviciilor sa
    faca acelasi lucru. Daca credeți ca un anumit conținut, care apare pe harțile rutiere în timp real ale
    UniView, încalca
    drepturile de autor pe care le dețineți sau le reprezentați, puteți trimite o notificare scrisa, în conformitate cu
    prevederile Digital Millennium Copyright Act ("DMCA").</p>
  <br>Pentru eficiența, notificarea dumneavoastra privind încalcarea presupusa trebuie sa includa urmatoarele
  informații:
  <br>- O semnatura fizica sau electronica a unei persoane autorizate sa acționeze în numele proprietarului unui drept
  exclusiv care se presupune ca a fost încalcat;
  <br>- Identificarea operei protejate prin drepturi de autor, despre care se susține ca a fost încalcata prin
  utilizarea
  site-ului web sau daca mai multe lucrari protejate prin drepturi de autor sunt acoperite printr-o singura notificare,
  o
  lista reprezentativa a acestor lucrari;
  <br>- Identificarea materialului despre care se presupune ca încalca sau care face obiectul unei activitați care
  încalca
  drepturile si ca accesul la acesta este dezactivat si informații suficient de rezonabile pentru a permite
  UniView sa
  localizeze materialul, inclusiv identificatorul exact al resurselor (Uniform Resource Identifier) ​​sau coordonatele
  pe
  harțile Serviciului în care ați descoperit locul de munca protejat prin drepturi de autor susținând ca a fost
  încalcat;
  <br>- Informații suficiente pentru a permite UniView sa va contacteze, cum ar fi o adresa, un numar de
  telefon si, daca
  este disponibil, o adresa de posta electronica la care puteți fi contactat;
  <br>- O declarație conform careia aveți convingerea ca utilizarea materialului în modul în care se plânge nu este
  autorizata de proprietarul drepturilor de autor, de agentul sau sau de lege;
  <br>- O declarație conform careia informațiile din notificare sunt corecte si sub sancțiunea pedepsei cu privire la
  faptul ca sunteți autorizat sa acționați în numele proprietarului unui drept exclusiv despre care se presupune ca a
  fost
  încalcat.
  <br><br>Dupa primirea comunicarii, UniView va poate solicita sa furnizați informații suplimentare, înainte de
  a elimina
  orice conținut afisat pe site, pe care UniView îl considera necesar pentru a respecta prevederile DMCA.
  <br><br>
  <p><b>Contra-notificare</b></p>
  Puteți sa trimiteți o contra-notificare agentului pentru drepturile de autor. Pentru a fi eficient, contranotificarea
  dvs. trebuie sa fie o comunicare scrisa furnizata agentului pentru drepturile de autor care include în mod substanțial
  urmatoarele:
  <br>- Semnatura dvs. fizica sau electronica;
  <br>- Identificarea materialului la care a fost dezactivat accesul si locația la care a aparut materialul înainte de
  accesul la acesta a fost dezactivata.
  <br>- O declarație sub sancțiunea sperjurului ca aveți o credința de buna credința ca materialul a fost dezactivat ca
  urmare a unei greseli sau a unei identificari gresite a materialului care urmeaza sa fie dezactivat;
  <br>- Numele dvs., adresa si numarul de telefon si o declarație conform careia sunteți de acord cu jurisdicția Curții
  Districtuale Federale.
  <br><br>Dupa primirea unei contranotificari, UniView va furniza cu promptitudine persoanei care a trimis
  notificarea
  privind încalcarea drepturilor de autor cu o copie a contranotificarii si va informa acea persoana ca UniView
  va înlocui
  materialul eliminat sau va înceta sa dezactiveze accesul la materialul respectiv.
  <br><br>
  <p><b>Declarații false</b></p>
  În conformitate cu dispozițiile DMCA, orice persoana care prezinta în mod deliberat o eroare materiala: (1) ca
  materialul încalca sau (2) materialul a fost eliminat sau dezactivat din greseala sau prin identificarea gresita, va
  fi
  raspunzator pentru orice daune, inclusiv costurile si onorariile avocaților.
  <div class="legal-details-back-button">
    <app-wave-button
      text="Inapoi la pagina principala"
      (click)="goToHomepage()"
    ></app-wave-button>
  </div>
</div>
