app-admin-dashboard {
  .custom-statistics {
    display: flex;
    flex-flow: wrap;
    margin: 0px 60px;
    justify-content: center;
  }

  td,
  th {
    text-align: center;
  }

  th.mat-header-cell {
    text-align: center;
  }

  .mat-tab-body {
    display: flex;
    justify-content: center;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-tab-label {
    color: #2b1c74;
  }
}
