@import "../../variables.scss";

  form {
    display: flex;
    flex-flow: column;
  }
  div.mat-dialog-actions {
    display: flex;
    justify-content: space-between !important;
  }
  .adminstration-info {
    color: $lightgray;
    margin-bottom: 20px;
  }


