$white: white;
$lightgray: lightgray;
$black: black;
$gradient1:  #4fa7c9;
$gradient-middle: #3d639f;
$gradient2:  #2b1c74;
$shadow: rgba(0, 0, 0, 0.2);
// ------------
$success: #28a745;
$info: #5dbbe8;
$warning: #ffc107;
$danger: #dc3545;