<div class="general-info">
  <p><b>1. Politica prelucrarii datelor cu caracter personal</b></p>
  SC UniView SRL in calitate de autor, propietar si administrator al site-ului web www.UniView.ro,
  respecta caracterul
  privat si securitatea prelucrarii datelor cu caracter personal al fiecarei persoane care acceseaza site-ul web in
  vederea obținerii de informații.
  <br>In conformitate cu dispozitiile Legii nr. 677/2001 pentru protectia persoanelor cu privire la prelucrarea datelor
  cu
  caracter personal si libera circulatie a acestor date si ale Legii nr. 506/2004 privind prelucrarea datelor cu
  caracter
  personal si protectia vietii private, UniView are obligatia de a administra in conditii de siguranta si numai
  pentru
  scopurile prezentate mai jos, datele personale care ne sunt furnizate.
  <br>Societatea noastra se obliga sa pastreze confidentialitatea datelor personale furnizate prin intermediul site-ului
  www.UniView.ro, asa cum prevad dispozitiile legii 677/2001 cu modificarile ulterioare privind protectia
  datelor
  personale.
  <br>In conformitate cu dispozitiile Legii nr. 677/2001, persoanele inregistrate, in caliatate de persoane vizate, au
  urmatoarele drepturi:
  <br>- Dreptul la informare (art.12)
  <br>- Dreptul de acces la date cu caracter personal (art.13);
  <br>- Dreptul de interventie asupra datelor cu caracter personal (art.14);
  <br>- Dreptul de opozitie (art.15);
  <br>- Dreptul de a nu fi supus unei decizii individuale (art.17);
  <br>- Dreptul de a se adresa justitiei (art.18).
  <br>Orice informatie furnizata de dumneavoastra va fi considerata si va reprezenta consimtamintul dumneavoastra expres
  ca datele dumneavoastra personale sa fie folosite de UniView in conformitate cu scopurile mentionate mai jos.
  <br>Daca doriti ca datele dumneavoastra personale sa fie actualizate sau scoase din baza de date, ori aveti intrebari
  legate de confidentialitatea datelor, ne puteti contacta / notifica oricand utilizand datele de contact existente pe
  site.
  <br>Daca nu doriti ca datele dumneavoastra sa fie colectate, va rugam sa nu ni le furnizati.
  <br><br>
  <p><b>2. Scopul colectarii datelor</b></p>
  - oferirea serviciilor solicitate de dumneavoastra;
  <br>- transmiterii de oferte, mesaje publicitare si de marketing;
  <br>- pentru activitati specifice departamentului Resurse Umane, in situatia in care sunteti interesati sa faceti
  parte
  din echipa UniView si ati trimis un CV, catre departamentul Resurse Umane, prin intermediul site-ului.
  <br>UniView nu va dezvalui unei terte parti niciuna dintre datele dumneavoastra (informatii personale sau
  informatii
  optionale) fara acordul dumneavoastra, cu exceptia cazului in care avem convingerea, de buna credinta, ca legislatia
  ne
  impune acest lucru sau ca acest lucru este necesar pentru protejarea drepturilor sau a proprietatii societatii
  noastre.
  <br><br>
  <p><b>3. Securitatea datelor colectate si procesate</b></p>
  UniView utilizeaza metode si tehnologii de securitate avansate, impreuna cu politici stricte aplicate
  salariatilor si
  procedurilor de lucru, incluzand audit-ul periodic pentru a proteja datele cu caracter personal, colectate si
  procesate
  conform prevederilor legale in vigoare.
  <br>Echipamentul de tip server pe care este gazduit site-ul web prin intermediul caruia colectam date cu caracter
  personal este protejat atat la accesul fizic cat si la accesul de la distanta (limitat), fiind instalat intr-un centru
  de date si supus periodic unui audit de securitate.
  <br>Depunem toate eforturile rezonabile, justificate comercial pentru a va proteja datele cu caracter personal
  colectate, analizam noile tehnologii in domeniu si, atunci si daca este cazul, le aplicam in vederea upgrade-ului
  sistemelor noastre de securitate.
  <br><br>
  <p><b>4. Definitii</b></p>
  <b>Date cu caracter personal</b>: Orice informatii referitoare la o persoana fizica identificata sau identificabila; o
  persoana identificabila este acea persoana care poate fi identificata, direct sau indirect, in mod particular prin
  referire la un numar de identificare ori la unul sau la mai multi factori specifici identitatii sale fizice,
  fiziologice, psihice, economice, culturale sau sociale.
  <br><b>Prelucrarea datelor cu caracter personal</b>: Orice operatiune sau set de operatiuni care se efectueaza asupra
  datelor cu character personal, prin mijloace automate sau neautomate, cum ar fi colectarea, inregistrarea,
  organizarea,
  stocarea, adaptarea ori modificarea, extragerea, consultarea, utilizarea, dezvaluirea catre terti prin transmitere,
  diseminare sau in orice alt mod, alaturarea ori combinarea, blocarea, stergerea sau distrugerea.
  <br><b>Stocarea</b>: Pastrarea pe orice fel de suport a datelor cu caracter personal culese.
  <br><b>Operator</b>: Orice persoana fizica sau juridica, de drept privat ori de drept public, inclusiv autoritatile
  publice, institutiile si structurile teritoriale ale acestora, care stabileste scopul si mijloacele de prelucrare a
  datelor cu caracter personal.
  <div class="legal-details-back-button">
    <app-wave-button
      text="Inapoi la pagina principala"
      (click)="goToHomepage()"
    ></app-wave-button>
  </div>
</div>
