app-editable-facilities {
    .facilities-cards {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    
        mat-card {
          text-align: center;
          box-shadow: none !important;
          background-color: transparent; 
        }
    
        mat-card-subtitle {
          padding-top: 10px;
        }
    
      }
}